<div class="container">
<h2><b>This position will be responsible for…..</b></h2>
<br>
<ul style="list-style-type:disc;">
<li>Manages at least 2 full time exempt direct reports. Management responsibilities include, but are not limited to hiring, coaching, skills development, recognition and rewards, staff productivity and performance management to include disciplinary actions up to and including termination.</li>
<li>Interprets operation reports, contracts, Profit and Loss (P&L) and metrics used in assessing effectiveness and improve customer satisfaction.</li>
<li>Effectively translates and communicates FSC objectives to subordinates.</li>
<li>Involved in the budget and forecasting process, as well sharing in the P&L responsibility.</li>
<li>Responsible for development and execution of day-to-day operation plan set forth by Senior Management.</li>
<li>Manage and evaluate root cause analysis and implement corrective action procedures for day-to-day operational issues.</li>
<li>Recommend and develop implementation plans for enhanced Dock Services and FSC strategy</li>
<li>Implements standardized approach for migration of existing FSC/Dock Services customers utilizing input from Management and customers.</li>
<li>Responsible for transforming complex FSC customer requirements to meet established FSC and customer policies and procedures.</li>
<li>Works with legal on new business contracts and renewals. Ensures all customers are compliant with contractual obligations and mitigates scope creep.</li>
<li>Implements new accounts by gathering business rules/customer requirements, developing a solution set, establishing a project plan and following the implementation through to completion.</li>
<li>Work with customer management, following up on recommendations, service failures and complaints.</li>
<li>Compile reports and operational results following up on negative trends and results.</li>
<li>Promote Quality Driven Management and continuous improvement of operations.</li>
<li>Perform other duties as assigned.</li> 
</ul>
<br>
<h2><b>Physical/Cognitive Requirements</b></h2>
<h3><b>With or without accommodation:</b></h3>
<ul style="list-style-type:disc;"></ul>
<li>Ability to follow policies and procedures.</li>
<li>Ability to read, write and interpret information.</li>
<li>Ability to add, subtract, multiply and divide.</li>
<li>Ability to use hands to finger, handle, or feel.</li>
<li>Ability to sit/walk/stand for up to 8 hours per day.</li> 
<li>Must possess visual acuity, i.e., close, distance, and color vision, depth perception and the ability to adjust focus.</li>
<section class="career apply" id="contact">
    <div class="career apply">
        <div class="row">
            <div class="col-sm-6">
                <h1><b>Apply Online</b></h1>
                <form >
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="name">Name:<span>*</span></label>
                                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Name">
                            </div>                               
                        </div>

                        <!-- <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="Date of Birth">Email Id:<span>*</span></label>
                                <input type="Date of Birth" class="form-control" id="Date of Birth" formControlName="Date of Birth" placeholder="e.g.feburary">
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="email">Email Id:<span>*</span></label>
                                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email Id">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="Contact Number">Contact Number:<span>*</span></label>
                                <input type="Contact Number" class="form-control" id="Contact Number" formControlName="Contact Number" placeholder="Enter Phone Number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="Address">Address:<span>*</span></label>
                                <input type="Address" class="form-control" id="Address" formControlName="Address" placeholder="Enter Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="Upload Resume">Upload Resume:<span>*</span></label>
                               
                                <!-- <input type="Upload Resume" class="form-control" id="Upload Resume" formControlName="Upload Resume" > -->
                                <form action="/action_page.php">
                                    <input type="file" id="myFile" name="filename">
                                    <!-- <input type="submit"> -->
                                  </form>
                                </div>
                            </div>
                       
                        <div>
                        <h6>Fields with * are Compulsary</h6>
                        </div>
                        <button class="button1" >SUBMIT</button>
                     
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>                
</div>