<!-- <div class="jumbotron jumbotron6">  
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Want to Move...</h2>
                    <h3 class="m-set">Hassel Free ? !!</h3>
                    <div class="p-set">
                        <button class="btn btn-primary button-set" routerLink="/schedule">Schedule Now</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="assets/image/showcase7.png" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>   -->
<div class="slideshow-container">

    <div class="mySlides ">
      <img src="assets/image/packing.jpg" style="width:100%; height:430px; " >
      <div class="packtext">
        <div class="transbox">
           Simple From Start to Finish<br>

             <h4>  We make moving a breeze. Check out some quick tips to make sure your move is simple from start to finish.</h4>
        </div>
        
          <a routerLink="/moving" routerLinkActive="active"><button class="button button1"><b>MOVING TIPS</b></button></a> 
          <a routerLink="/contact-us" routerLinkActive="active"><button class="button button2"><b>GET A QUOTE</b></button></a>
      </div>
    </div>
    <!-- <div class="mySlides ">
      <img src="assets/image/family.jpg" style="width:100% ;height:430px">
      <div class="packtext">
        <div class="transbox">
        Serving All of DFW<br>
      <h4> Headquarted in Mansfield, we service the entire DFW Metroplex and beyond. Contact us to learn more.</h4></div>
      <button class="button button1">LEARN MORE</button>
      <button class="button button2">OUR QUOTES</button>
      </div>
    </div> 
    <div class="mySlides">
      <img src="assets/image/truck.jpg" style="width:100%; height:430px">
      <div class="packtext">Welcome to Absolute Integrity Movers<br>
      <h4> Than you for visiting AIM Movers. The right choice for<br> top-quality moving in DFW. Learn more about us or<br> contact us today for a free quote.</h4>
      <button class="button button1">WHO WE ARE</button>
      <button class="button button2">FREE QUOTE</button>
      </div> 
    </div> -->
 
    
    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    </div>
    <br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div> -->
<div>
    <h2  class="welcomebox">  Welcome to Absolute Integrity Movers, Your Premier DFW<br> Moving Company.</h2>
  <a routerLink="/contact-us" routerLinkActive="active">  <button class="btn success">GET A QUOTE  </button></a>
  </div>
 

    












<!-- <section class="content bg-color-2" id="section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. Aliquam erat volutpat. Duis eu sapien auctor, bibendum ante ut, volutpat purus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat. Donec id urna posuere nisl tincidunt laoreet. </p>
                <div class="text-highlight">
                    <i class="fa fa-quote-left"></i>
                    <p>Pellentesque magna turpis, porttitor non leo ac, imperdiet sollicitudin neque. Sed id condimentum quam. Ut dui velit, suscipit et libero vulputate. Duis nec lorem quis est ultrices volutpat.</p>
                    <span>John Doe, CEO</span>
                </div>
            </div>
            <div class="col-md-6">
                <div id="about-us-slider">       
                    <div class="item"><img src="assets/image/showcase1.png" alt="" class="img-responsive"></div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="content bg-color-2" id="section-portfolio">
    <div class="container">
        <h2>Our Services</h2>
        <div class="border"></div>
        <div class="row">
            <div class="col-md-4">
                <article class="portfolio-item">
                    <img src="assets/image/aim.jpg" class="img-responsive" alt=""> -->
                    <!-- <div class="hover-overlay">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat.</p>
                        <a href="assets/image/image_01.jpg" class="show-image"><i class="fa fa-plus"></i></a>
                        <a href="portfolio-post1.html"><i class="fa fa-link"></i></a>
                    </div> -->
                <!-- </article>
                <div class="portfolio-item-description" style="width: 96%;">
                    <h3>About Us</h3>
                </div>
            </div> -->
            

          <div class="row text-center">
            <h1>Our Services</h1>
            <div class="border"></div>
              <div class="col-sm-4">
                  <div class="thumbnail">
                    <a routerLink="/aboutus" routerLinkActive="active"><img src="assets/image/truck.jpg" alt="Paris" width="400" height="300">
                    <p><strong>About Us</strong></p><br>
                   
                    <p>We AIM to reinvent the standard for customer service in the moving industry. Learn More About Us.</p></a>
                    <div class="border"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumbnail">
                    <a routerLink="/rates" routerLinkActive="active"><img src="assets/image/job.jpg" alt="New York" width="400" height="300">
                    <p><strong>Rates & Prices</strong></p>
                    <p>We offer great services and competitive prices. Learn more about our rates and prices here.</p></a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumbnail">
                    <a routerLink="/contact-us" routerLinkActive="active"><img src="assets/image/home.jpg" alt="San Francisco" width="400" height="300">
                    <p><strong>Get A Quote</strong></p>
                    <p>We are available to answer any questions you have. Contact us for your free quote today.</p></a>
                  </div>
                </div>
              </div>
              
              <div class="myDIV">
                <h1 class="whyus">Why us?</h1>
                <!-- <div class="border"></div> -->
                <div class="row">
                  <div class="column" style="background-color:#f8f8f8;margin-left:30px; margin-right:10px; height:100px ;width:30%; margin-bottom:30px;">
                    <h3 class="items">Licensed and Insured </h3>
                  </div>
                  <div class="column" style="background-color:#f8f8f8;margin-left:30px; margin-right:10px; height: 100px ;width:30%; margin-bottom:30px;">
                    <h3 class="items">Certified Experience</h3>
                  </div>
                  <div class="column" style="background-color:#f8f8f8;margin-left:30px; margin-right:10px; height: 100px ;width:30%; margin-bottom:30px;">
                    <h3 class="items">Competitive Pricing</h3>
                  </div>
                </div>
                <!-- <div class="border"></div> -->
                <div class="row">
                  <div class="column" style="background-color:#f8f8f8;margin-left:30px; margin-right:10px; height: 100px ;width:30%; margin-bottom:30px;">
                    <h3 class="items">State of the Art Equipment</h3>
               
                  </div>
                  <div class="column" style="background-color:#f8f8f8;margin-left:30px; margin-right:10px; height:100px ;width:30%; margin-bottom:30px;">
                    <h3 class="items">Free Quotes</h3>
               
                  </div>
                  <div class="column" style="background-color:#f8f8f8;margin-left:30px; margin-right:10px; height: 100px ;width:30%; margin-bottom:30px;">
                    <h3 class="items">Serving All of DFW</h3>
                  </div>
                </div>
                </div>
                <div>
                    <h2  class="welcomebox1">  Welcome to Absolute Integrity Movers, Your Premier DFW<br> Moving Company.</h2>
                    <a routerLink="/contact-us" routerLinkActive="active">  <button class="btn success">GET A QUOTE  </button></a>
                </div>
               

<!-- 
            <div class="col-md-4">
                <article class="portfolio-item">
                    <img src="assets/image/job.jpg" class="img-responsive" alt=""> -->
                    <!-- <div class="hover-overlay">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat.</p>
                        <a href="assets/image/image_02.jpg" class="show-image"><i class="fa fa-plus"></i></a>
                        <a href="portfolio-post1.html"><i class="fa fa-link"></i></a>
                    </div> -->
                <!-- </article>
                <div class="portfolio-item-description" style="width: 77%;">
                    <h3>Rates & Pricing</h3>
                </div>
            </div> -->
            
            <!-- <div class="col-md-4">
                <article class="portfolio-item">
                    <img src="assets/image/home.jpg" class="img-responsive" alt=""> -->
                    <!-- <div class="hover-overlay">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat.</p>
                        <a href="assets/image/image_03.jpg" class="show-image"><i class="fa fa-plus"></i></a>
                        <a href="portfolio-post1.html"><i class="fa fa-link"></i></a>
                    </div> -->
                <!-- </article>
                <div class="portfolio-item-description">
                    <h3>Get a Quote</h3>
                </div>
            </div> -->
<!--             
            <div class="col-md-3">
                <article class="portfolio-item">
                    <img src="assets/image/image_01.jpg" class="img-responsive" alt="">
                    <div class="hover-overlay">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem quis est ultrices volutpat.</p>
                        <a href="assets/image/image_01.jpg" class="show-image"><i class="fa fa-plus"></i></a>
                        <a href="portfolio-post1.html"><i class="fa fa-link"></i></a>
                    </div>
                </article>
                <div class="portfolio-item-description">
                    <h3>Lorem ipsum dolor sit amet</h3>
                </div>
            </div> -->
        <!-- </div>
    </div>
</section> -->
