.login-wrapper {
    padding-top: 15%;
    height: 100vh;
    justify-content: center;
    background: url(/assets/image/showcase7.png) no-repeat;
    background-size: cover;
    opacity: 1.0;
}
.container {
    width: 100%;
    background: #ffffff;
    border-radius: 30px;
    max-width: 350px;
}
.title {
    text-align: center;
}
.center {
    text-align: center;
    padding-bottom: 20px;
}
