<!-- <div class="top-header hidden-xs hidden-sm">
    <div class="container">
        <div class="pull-left">
            <div class="header-item"><i class="fa fa-envelope"></i> info@pixlized.cz</div>
            <div class="header-item"><i class="fa fa-phone"></i> +420 123 456 789</div>
        </div>
        <div class="pull-right">
            <ul class="brands brands-inline brands-tn brands-circle main">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
            </ul>
            <div class="header-item"><a class="pull-right" routerLink="/login" routerLinkActive="active"><i class="fa fa-user"></i>Sign in</a></div>
        </div>
    </div>
</div> -->

<header class="navbar yamm navbar-default navbar-static-top" style="margin-bottom: 0px;">
    <div class="container">
        <div class="navbar-header">
            <a routerLink="/home-page" routerLinkActive="active" class="navbar-brand"><img src="assets/image/aim-logo.jpg" style="height:90px" alt=""></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav navbar-main-menu">
                <li>
                    <a routerLink="/home-page" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a routerLink="/aboutus" routerLinkActive="active">About Us</a>
                </li>
                <li>
                    <a routerLink="/schedule" routerLinkActive="active">Schedule</a>
                </li>
                <li>
                    <a routerLink="/moving" routerLinkActive="active">Moving Tips</a>
                </li>
                <li>
                    <a routerLink="/rates" routerLinkActive="active">Rates & Pricing</a>
                </li>
                <li>
                    <a routerLink="/faq" routerLinkActive="active">FAQ's</a>
                </li>
                <li>
                    <a routerLink="/career" routerLinkActive="active">Career</a>
                </li>
                <li>
                    <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
                </li>
            </ul>
            
            <!-- <ul class="nav navbar-nav hidden-xs hidden-sm">
                <li class="dropdown search-form-toggle">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                    <ul class="dropdown-menu navbar-search-form">
                        <li>
                            <form>
                                <fieldset>
                                    <div class="form-group nospace">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="search" placeholder="Search" required>
                                            <span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul> -->
        </div>
    </div>
</header>
