<div >
    <img src="assets/image/truck.jpg">
    </div>
    <h1>The Company.Our Core Values.Our Beliefs</h1>
    <div class="border"></div>
      <div class="sub-container">
        <h2 >About us:</h2>
        <div class="text"><h4> After being involved in the moving industry for nearly a decade, I saw a great opportunity to earn a living and become the change in an industry that largely had a reputation for poor customer service and untrained movers. So we decided to establish Absolute Integrity Movers Inc. during the summer of 2012, using Integrity and Transparency as the foundation for our company. There are no “hidden charges” anywhere. Ever. Time is money; When you’re on the clock we hustle. All of our procedures are designed to be efficient and time saving. Absolute Integrity Movers intends to earn our business by constantly putting customers first.</h4></div>
       <br>
        <h2 >Our Promises:</h2>
      
        <div class="text"><h4>We AIM to reinvent the standard for customer service in the moving industry. We use only top of the line equipment and innovative training procedures to ensure the greatest possible moving experience for our customers. We believe we have the best and highest quality moving service in the D/F-W and were here to prove it to you.</h4></div>
      </div>

