<section class="content overflow" id="features">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="center">Existing Customer</h2>
                <img src="assets/image/customers.jpg" alt="" class="img-responsive">
                <button class="btn btn-primary button-set m-prcnt-5 m-l-30" routerLink="/existing-customer">Existing Customer</button>
            </div>
            <div class="col-sm-6">
                <h2 class="center">New Customer</h2>
                <img src="assets/image/new-customers.jpg" alt="" class="img-responsive">
                <button class="btn btn-primary button-set m-prcnt-5 m-l-35" routerLink="/new-customer">New Customer</button>
            </div>
        </div>
    </div>
</section>
