<div class="container">
    <h1 style="font-size: 30px; margin-top:15px;">Rates & Pricing</h1>
       <div class="border"></div><br><br>
          <div class="col-sm-4">
             <div class="card">
                 <div class="container1">
                    <h3>FULL SERVICE-TWO MOVERS</h3>
                      <img src="assets/image/contractor.jpg" >
                         <h4>(Full Service) Commercial and Residential Moving – $119 per hour + one-time $45 fuel fee</h4><br>
                            <h4> Covers all moves within the DFW area. Any moves outside of DFW will require additional fees. Charges begin from time our movers arrive on site until their departure.<br><br>
                              <ul style="list-style-type:disc;" >
                                <li> Two Hour Minimum<br><br></li>
                                <li>Two Professional Movers<br><br></li>
                                <li>24-Foot Truck<br><br></li>
                                 <li>Includes Assembly/Disassembly of all Furniture<br><br></li>
                                 <li>Padding and Shrink Wrap Available – No Additional Charge</li>
                             </ul>
                                 **Sunday moves are an additional $40/hr
                            </h4>
                            <a routerLink="/contact-us" routerLinkActive="active"><button class="button button1">Get A Quote</button></a>
                  </div>    
              </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
                <div class="container1">
                   <h3>FULL SERVICE-4 MOVERS</h3>
                      <img src="assets/image/contractor.jpg" >
                         <h4>(Full Service) Commercial and Residential Moving – $209 per hour + one-time $45 fuel fee</h4><br>
                            <h4> Covers all moves within the DFW area. Any moves outside of DFW will require additional fees. Charges begin from time our movers arrive on site until their departure.<br><br>
                              <ul  style="list-style-type:disc;" >
                                <li> Four Hour Minimum<br><br></li>
                                <li>Four Professional Movers<br><br></li>
                                <li>48-Foot Truck<br><br></li>
                                 <li>Includes Assembly/Disassembly of all Furniture<br><br></li>
                                 <li>Padding and Shrink Wrap Available – No Additional Charge</li>
                             </ul>
                                **Sunday moves are an additional $40/hr
                            </h4>
                            <a routerLink="/contact-us" routerLinkActive="active"><button class="button button1">Get A Quote</button></a>
                  </div>    
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="container1">
                   <h3>LABOR ONLY</h3>  
                      <img src="assets/image/contractor.jpg" >
                         <h4>(Full Service) Commercial and Residential Moving – $119 per hour + one-time $45 fuel fee</h4>
                            <h4 > Covers all moves within the DFW area. Any moves outside of DFW will require additional fees. Charges begin from time our movers arrive on site until their departure.<br><br>
                              <ul style="list-style-type:disc;">
                                <li> Packing/Unpacking Services<br><br></li>
                                <li>Load/Unload Services<br><br></li>
                                <li>Two Hour Minimumk<br><br></li>
                                 <li>Two Professional Movers<br><br></li>
                                 <li>Padding and Shrink Wrap Available – No Additional Charge</li>
                              </ul>
                                **Sunday moves are an additional $40/hr 
                            </h4>
                            <a routerLink="/contact-us" routerLinkActive="active"><button class="button button1">Get A Quote</button></a>
                 </div>    
              </div>
           </div>
</div>
<div class="container">
  <div class="row">
    <div class="column" >
      <h1>Frequently Asked Questions</h1>
      <h2>1. How long should my move take?</h2>
      <p>– Certain factors play a role in determining the amount of time a move should take. Most 1 to 2 bedroom apartments can be completed within 2-4 hours; most 3-4 bedroom houses can be completed within 5-8 hours. Factors to consider: 2nd and 3rd floor apartment moves will take some extra time to complete compared to ground floor apartments. The further the distance you are moving, the more time it will take to complete the move. Preparation, preparation, preparation. The more prepared you are before your movers arrive, the quicker the move will go.</p>
      <h2>2. What kind of trailer/ equipment do you use?</h2>
      <p>– We use an over-sized 24’​ Cargo Mate enclosed box trailer with torsion suspension for a guaranteed smooth ride. We haul our trailers with F-250’s and use only the highest quality equipment and pads to complete the job.</p>
      <h2>3. Do you Disassemble/ Assemble furniture?</h2>
      <p>– Yes, we include disassembly/re-assembly of all your furniture, bedroom sets, and appliances with no extra charge. We do not disassemble pool tables. We can un-hook video and audio cables but we cannot be held responsible for the proper set up of your electronic equipment in your new home.</p>
      <h2>4. What if all my furniture does not fit in the 24′ trailer? </h2>
      <p>– If all the furniture does not fit on the first load, we will make a second trip. If there are just a few boxes and miscellaneous items left over, it would be time efficient to load up those smaller items in the customers vehicle, instead of making a second trip. If your house is greater than 2500-3000, we recommend using a 48′ truck/4 man crew.</p>
    </div>
    <div class="column" >
      <div class="m-t-10">
        <h2> 5. Can the rates change at any time?Any extra or hidden fees?</h2>
        <p>– Absolutely not. We charge a flat hourly rate + fuel fee. There are no hidden fee’s or charges ever.</p>
        <h2>6. Do I need an in-home estimate?</h2>
        <p>– Our sales representatives will be able to give an accurate assessment of how long your move will take, given the accuracy of the items listed and the layout of the residence provided by the customer over the phone. If your home is greater than 2500 square feet, an in-home estimate is recommended.</p>
        <h2>7. Will my belongings stay clean and safe inside the truck during the move?</h2>
        <p>– We ensure proper handling and safe transportation of your goods by using high quality, scratch resistant moving blankets to wrap all furniture. We also give the customer the option to shrink-wrap and pad all furniture inside the house, all which is provided at no extra charge.</p>
        <h2>8. Will there be any hidden charges or extra fees on my bill at the end of the move? </h2>
        <p>– Absolutely not. For all local moves, we charge an hourly rate with a small fuel fee. For long distance moves (200 or more miles), a flat fee is charged per mile.</p>
        <h2>9. What is the appropriate tipping amount? </h2>
        <p>– Although tips are voluntary, they are greatly appreciated as our crew will work very hard for you. The average tip is between 10-15% per crew member.</p>
     </div>
   </div>
  </div>  
</div>