<div class="container">
    <h2><b>This position will be responsible for…..</b></h2>
    <br>
    <h2>Starting pay rate $15.50 per hour. </h2>
    <h2><b>Job Type:</b> Regular</h2>
    <br>
    <ul style="list-style-type:disc;">
    <li>We Provide impeccable customer service</li>
    <li>Data entry and processing of various import related documentation for submission to US Customs and may handle all PGA's (participating Government Agencies)</li>
    <li>Work closely with other internal staff, departments, other fedex operations,  and customers to deliver high level of service to customers</li>
    <li>Process agency brokerage shipments.</li>
    <li>May handle remote filings</li>
    </ul>
   <section class="career apply" id="contact">
        <div class="career apply">
            <div class="row">
                <div class="col-sm-6">
                    <h1><b>Apply Online</b></h1>
                    <form >
                        <fieldset>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="name">Name:<span>*</span></label>
                                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Name">
                                </div>                               
                            </div>
    
                            <!-- <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="Date of Birth">Email Id:<span>*</span></label>
                                    <input type="Date of Birth" class="form-control" id="Date of Birth" formControlName="Date of Birth" placeholder="e.g.feburary">
                                </div>
                            </div> -->
    
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="email">Email Id:<span>*</span></label>
                                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email Id">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="Contact Number">Contact Number:<span>*</span></label>
                                    <input type="Contact Number" class="form-control" id="Contact Number" formControlName="Contact Number" placeholder="Enter Phone Number">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="Address">Address:<span>*</span></label>
                                    <input type="Address" class="form-control" id="Address" formControlName="Address" placeholder="Enter Address">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="Upload Resume">Upload Resume:<span>*</span></label>
                                   
                                    <!-- <input type="Upload Resume" class="form-control" id="Upload Resume" formControlName="Upload Resume" > -->
                                    <form action="/action_page.php">
                                        <input type="file" id="myFile" name="filename">
                                        <!-- <input type="submit"> -->
                                      </form>
                                    </div>
                                </div>
                           
                            <div>
                            <h6>Fields with * are Compulsary</h6>
                            </div>
                            <button class="button1" >SUBMIT</button>
                         
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>                
    </div>

