<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="overlay-wrapper p-b-20 col-sm-12">
                    <img src="assets/image/packers and movers 1.jpg" class="img-responsive" alt="">
                </div>
            </div>
            
            <div class="col-md-3">
                <h2>Our Promise</h2>
                <!-- <ul class="list-unstyled contact-address">
                    <li>212-222 Broadway, New York, USA</li>
                    <li>info@mycompany.com</li>
                    <li>+420 123 456 789</li>
                    <li>www.mycompany.com</li>
                </ul> -->

    
               <h4 class="list-unstyled contact-address" > We AIM to reinvent the standard for customer service in the moving industry. Contact us for your free quote today.</h4>
            </div>
            
            <div class="col-md-3">
                <h2>Our Location</h2>
                <ul class="list-unstyled contact-address">
                    <li>2214 FM1187 #9</li>
                    <li>Mansfield, TX 76063</li>
                    <li>817-253-3866</li>
                </ul>
            </div>
            
            <div class="col-md-3">
                <h2>Our Office Hours</h2>
                <ul class="list-unstyled contact-address">
                    <li>Mo-Fr: 7 am – 7 pm</li>
                    <li>Sa: Closed</li>
                    <li>Su: Closed</li>
                    <!-- <li>Press Release</li> -->
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="overlay-wrapper col-sm-12">
                        <ul class="brands brands-inline brands-sm brands-transition brands-circle">
                            <li><a href="#" class="brands-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="brands-twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="brands-google-plus"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="brands-linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="brands-youtube"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#" class="brands-skype"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-copyright">
                <p>© Packers & Movers 2020 All right reserved.</p>
            </div>
            <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                <li><a routerLink="/home-page" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/schedule" routerLinkActive="active">Schedule</a></li>
                <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>
