<!-- <mat-card> -->
    <div class="container">
        <div class= "my slides">
        <img src="assets/image/mycareer.jpg" style="width:100%; height:250px; ">
       </div>
        <h1 class="Text-center"><b>Build Your Career At AIM MOVERS</b></h1>
            <h2>
        <b>Manager, Operations - Transportations</b><br>

            Irving, Texas
    </h2>

    

 <h3>

<br>
<ul class="list-center" style="list-style-type:disc;">
<li>A top notch leadership team with the experience needed to grow and develop your career.</li>
<li>An open mind for new ideas and creative methods.</li>
<li>A strong compensation and benefits package, including health, vision, dental, 401k with a strong match and much more!</li>
 </ul>
</h3>
 <a  routerLinkActive="active"><button  (click)="goToCareersApply()"class="button button1" >VIEW & APPLY</button></a>
 <br>
 
 
 <h2>
<b>Package Recovery Agent WAREHOUSE </b><br>

 Irving, Texas
</h2>



<h3>

<br>
<ul class="list-center" style="list-style-type:disc;">
<li>Efficiently process various shipment/material types in a safe and appropriate manner through effective handling, sorting, scanning, documentation, packaging, storing, shipping and disposal methods.</li>
<li>Properly document shipment records.</li>
<!-- <li>A strong compensation and benefits package, including health, vision, dental, 401k with a strong match and much more!</li> -->
</ul>
</h3>
<a  routerLinkActive="active"><button  (click)="goToApplyJob2()"class="button button1" >VIEW & APPLY</button></a>
<br>

<h2>
    <b> Customs Trade Coordinator </b><br>
  Tonawanda, New York
    </h2>
    
    
    
    <h3>
    
    <br>
    <ul class="list-center" style="list-style-type:disc;">
    <li>Provide impeccable customer service </li>
    <li>Obtain correct classification of goods for customs release from database, SOP's, tariff book, internet or customs</li>
    <li>Adhere to all international importing and exporting  regulations.</li> 
    </ul>
    </h3>
    <a  routerLinkActive="active"><button  (click)="goToApplyJob3()"class="button button1" >VIEW & APPLY</button></a>
    <br>
    


    

    

    