<div class="container">
    <h2><b>This position will be responsible for…..</b></h2>
    <br>
    <h2>Starting pay rate $15.50 per hour. </h2>
    <br>
    <h3>Efficiently process various shipment/material types in a safe and appropriate manner through effective handling, sorting, scanning, documentation, packaging, storing, shipping and disposal methods.  Properly document shipment records.
    </h3>
    <br>
    <h2>Minimum Qualifications:</h2>
    <h3>High school diploma/GED/equivalent.  Able to lift up to 50 pounds and maneuver items of any weight above 50 pounds with appropriate equipment and/or assistance from another person.  After applicable training, ability to safely/effectively operate a pallet jack, forklift, order picker, reach truck and other types of warehouse and disposal equipment.  General knowledge of computers and the ability to effectively operate warehouse computers and scanning equipment and understand how they relate to the inventory process.  Able to properly handle and process different shipment types based upon contents and labeling.  Good organizational and communication skills.  Detail oriented.  Able to work variable shifts and weekends/holidays.</h3>
   <h2>Application Criteria / Deadline:</h2>
   <h3>To apply for this position please upload your current resume and complete online questionnaire.</h3>
   <br>
   <h3>AIMMOVERS Services is an Equal Opportunity/Affirmative Action employer. All qualified applicants will receive consideration for employment without regard to race, color, religion, gender, sexual orientation, gender identity, national origin, age, genetics disability, or protected Veteran status.

    AIMMOVERS Services will make reasonable accommodations for the known physical or mental limitations of an otherwise qualified individual with a disability who is an applicant or an employee, unless undue hardship or a direct threat would result from the accommodation. If reasonable accommodation is needed to participate in the job application or interview process, to perform essential job functions, and/or to receive other benefits and privileges of employment, please contact recruitmentsupport@AimMovers.com.</h3>
   <section class="career apply" id="contact">
        <div class="career apply">
            <div class="row">
                <div class="col-sm-6">
                    <h1><b>Apply Online</b></h1>
                    <form >
                        <fieldset>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="name">Name:<span>*</span></label>
                                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Name">
                                </div>                               
                            </div>
    
                            <!-- <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="Date of Birth">Email Id:<span>*</span></label>
                                    <input type="Date of Birth" class="form-control" id="Date of Birth" formControlName="Date of Birth" placeholder="e.g.feburary">
                                </div>
                            </div> -->
    
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="email">Email Id:<span>*</span></label>
                                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email Id">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="Contact Number">Contact Number:<span>*</span></label>
                                    <input type="Contact Number" class="form-control" id="Contact Number" formControlName="Contact Number" placeholder="Enter Phone Number">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="Address">Address:<span>*</span></label>
                                    <input type="Address" class="form-control" id="Address" formControlName="Address" placeholder="Enter Address">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="Upload Resume">Upload Resume:<span>*</span></label>
                                   
                                    <!-- <input type="Upload Resume" class="form-control" id="Upload Resume" formControlName="Upload Resume" > -->
                                    <form action="/action_page.php">
                                        <input type="file" id="myFile" name="filename">
                                        <!-- <input type="submit"> -->
                                      </form>
                                    </div>
                                </div>
                           
                            <div>
                            <h6>Fields with * are Compulsary</h6>
                            </div>
                            <button class="button1" >SUBMIT</button>
                         
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>                
    </div>
